.main-block {
  display: flex;
  flex-direction: column;

  padding: 20px;
  background-color: rgba(255, 255, 255, 0.336);
  border-radius: 14px;
}

.main-block__row {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.main-block__item {
  position: relative;
  cursor: pointer;
  background-color: #0e0429;
  border-radius: 8px;
  padding: 14px;
  color: white;
}

.main-block__item > p {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: start;
}

.main-block__item,
img {
  width: 28px;
  height: 28px;
}
